<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="invoice" class="co.td.spring.core.collections.beans.Invoice" >
<property name="invoiceNumber" value="1001123"/>
<property name="customerName" value="Deepthi"/>
<property name="items" >
<map>
<entry key="Mouse" value="10"></entry>
<entry key="Keyboard" value="111"></entry>

</map>
</property>



</bean>
</beans>
